/*
* primary #4173DA
* primary-light #00C2CC
* primary-dark #7A2AE4
*
* grey-light-1
* grey-light-2
* grey-light-3
* grey-light-4
*
* grey-dark-2
* grey-dark-3
* grey-dark-1
*/

:root {
  --color-light: #00c4cc;
  --color-dark: #7d2ae8;

  --color-primary: #3f77da;
  --color-primary-light: #3286d7;
  --color-primary-dark: #7d2ae8;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f8eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  background-image: linear-gradient(
    to bottom right,
    var(--color-light),
    var(--color-dark)
  );
  color: var(--color-grey-dark-2);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
